/*user css (this edit)*/
.menu_hor {
	border:1px solid #ccc;
	border-radius:5px;
	background:#eee;
}
.menu_hor a {
	font:12px/1.2em Arial, Helvetica, sans-serif;
	text-align:left; 
	padding:10px 10px;
	text-decoration:none;
	color:#666;
	border-radius:5px;
}
.menu_hor a:hover { 
	background:#f7f7f7; 
	color:#000; 
	text-decoration:none; 
	text-shadow:none;
}
.menu_hor .active { 
	background:#f7f7f7; 
	color:#000;
}
.menu_hor ul { 
	padding:0; 
	background:#eee;
	border:1px solid #ccc;
	border-radius:5px;
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.menu_hor ul li { 
	padding:0; 
	margin:0;
}
.menu_hor ul a {}
.menu_hor ul ul { padding:0; margin:0;}
.arrow-up {
	border-bottom-color:#eee;
	top:-4px; 
}
.arrow-up2 {
	border-bottom-color:#ccc;
	top:-5px; 
}
.arrow-left {
	border-right-color:#eee; 
	left:-4px; 
}
.arrow-left2 {
	border-right-color:#ccc; 
	left:-5px; 
}
.toLeft .arrow-left {
	border-left-color:#eee;
	right:-4px; 
}
.toLeft .arrow-left2 {
	border-left-color:#ccc;
	right:-5px; 
}