/*user css (this edit)*/
.menu_hor {
	border:1px solid #4c4c4c;
	border-radius:5px;
	background:#000;
}
.menu_hor a {
	font:12px/1.2em Arial, Helvetica, sans-serif;
	text-align:left; 
	padding:10px 10px;
	text-decoration:none;
	color:#989898;
	border-radius:5px;
}
.menu_hor a:hover { 
	background:#666; 
	color:#fefefe; 
	text-decoration:none; 
	text-shadow:none;
}
.menu_hor .active { 
	background:#666; 
	color:#fefefe;
}
.menu_hor ul { 
	padding:0; 
	background:#000;
	border:1px solid #666;
	border-radius:5px;
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.menu_hor ul li { 
	padding:0; 
	margin:0;
}
.menu_hor ul a {}
.menu_hor ul ul { padding:0; margin:0;}
.arrow-up {
	border-bottom-color:#000;
	top:-4px; 
}
.arrow-up2 {
	border-bottom-color:#666;
	top:-5px; 
}
.arrow-left {
	border-right-color:#000; 
	left:-4px; 
}
.arrow-left2 {
	border-right-color:#666; 
	left:-5px; 
}
.toLeft .arrow-left {
	border-left-color:#000;
	right:-4px; 
}
.toLeft .arrow-left2 {
	border-left-color:#666;
	right:-5px; 
}
.arrow-down {
	margin:5px 0 0 5px;
	border-top-color:#989898;
}
.arrow-right {
	margin:3px 0 0 5px;
	border-left-color:#989898;
}